Repository thucvu97/timeline-studio: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  max_report_age: false
  notify:
    wait_for_ci: true
  require_ci_to_pass: true

comment:
  behavior: default
  layout: reach,diff,flags,tree
  require_changes: false
  show_carryforward_flags: false

coverage:
  precision: 2
  range: "80...90"
  round: down
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch:
      default:
        base: auto
        target: auto
        threshold: 1.0
    project:
      default:
        base: auto
        target: auto
        threshold: 1.0

flags:
  backend:
    carryforward: true
    paths:
    - ^src-tauri/src/.*
  frontend:
    carryforward: true
    paths:
    - ^src/.*

github_checks:
  annotations: true

ignore:
  - "src-tauri/target/**/*"
  - "dist/**/*"
  - "coverage/**/*"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/test-utils.tsx"
  - "**/mocks/**/*"
  - "**/__tests__/**/*"
  - "**/__mocks__/**/*"

slack_app: true

feat: enhance export validation and add delete functionality in ResourcesPanel
  e2e/tests/export-advanced-features.spec.ts
  src/features/export/components/social-export-tab.tsx
  src/features/resources/__tests__/components/resources-panel.test.tsx
  src/features/resources/components/resources-panel.tsx
Due: frontend

feat: update test coverage numbers in README.md
  README.md
Due: none

fix: remove sensitive data and add config to gitignore
  .gitignore
  claude_desktop_config.json
  claude_desktop_config.json.example
Due: none

feat: update backend test coverage from 734 to 767 and add new test cases for pipeline stages
  README.md
  src-tauri/src/video_compiler/pipeline.rs
Due: backend

feat: enhance resources management by adding media file handling and resource loading/clearing functionality
  src/features/resources/__tests__/services/resources-machine.test.ts
  src/features/resources/services/resources-machine.ts
Due: frontend

fix: update README formatting and correct frontend tests count
  README.md
Due: none

fix: update README layout by replacing paragraph with table for better alignment
  README.md
Due: none

fix: correct table alignment in README by repositioning table tags
  README.md
Due: none

fix: update README layout by wrapping language links in a centered div
  README.md
Due: none

fix: update backend tests count in README and remove coverage improvement plan document
  README.md
  src-tauri/COVERAGE_IMPROVEMENT_PLAN.md
  src-tauri/src/video_compiler/ffmpeg_builder.rs
Due: backend

fix: update coverage report for ffmpeg_builder module with new tests and fixes
  src-tauri/COVERAGE_PROGRESS.md
Due: none

fix: update Rust coverage badge label in README from 'rust' to 'backend'
  README.md
Due: none

fix: clean up import statements and adjust comment formatting in tests module
  src-tauri/src/video_compiler/ffmpeg_builder.rs
Due: backend

Add comprehensive tests for templates and services
  eslint.config.mjs
  src/features/templates/__tests__/components/index.test.ts
  src/features/templates/__tests__/components/resizable-template.test.tsx
  src/features/templates/__tests__/components/template-list.test.tsx
  src/features/templates/__tests__/components/template-preview.test.tsx
  src/features/templates/__tests__/components/template-previews/landscape-templates.test.tsx
  src/features/templates/__tests__/components/template-previews/portrait-templates.test.tsx
  src/features/templates/__tests__/components/template-previews/square-templates.test.tsx
  src/features/templates/__tests__/components/template-renderer.test.tsx
  src/features/templates/__tests__/components/video-panel-component.test.tsx
  src/features/templates/__tests__/hooks/index.test.ts
  src/features/templates/__tests__/hooks/use-templates-import.test.ts
  src/features/templates/__tests__/hooks/use-templates.test.ts
  src/features/templates/__tests__/index.test.ts
  src/features/templates/__tests__/lib/all-template-configs.test.ts
  src/features/templates/__tests__/lib/index.test.ts
  src/features/templates/__tests__/lib/template-config.test.ts
  src/features/templates/__tests__/lib/template-labels.test.ts
  src/features/templates/__tests__/lib/templates.test.tsx
  src/features/templates/__tests__/services/index.test.ts
  src/features/templates/__tests__/services/template-service.test.ts
  src/features/templates/__tests__/template-list.test.tsx
  src/features/templates/lib/template-config.ts
Due: frontend

refactor: remove outdated developer guide and update README with new architecture details and template system overview
  src/features/templates/DEV.md
  src/features/templates/README.md
Due: frontend

test: add comprehensive tests for media processor module and improve coverage
  src-tauri/COVERAGE_PROGRESS.md
  src-tauri/src/media/processor.rs
Due: backend

fix: clean up whitespace and formatting in tests module
  src-tauri/src/media/processor.rs
Due: backend

test: update test coverage status and enhance ResizableTemplate tests
  README.md
  src/features/templates/__tests__/components/resizable-template.test.tsx
Due: none

test: add extensive unit tests for MediaProcessor functionality and improve coverage
  src-tauri/COVERAGE_PROGRESS.md
  src-tauri/src/media/processor.rs
Due: backend

test: simplify success case assertion in tests module
  src-tauri/src/media/processor.rs
Due: backend

refactor: remove video streaming service and related tests
  README.md
  codecov.yml
  src-tauri/COVERAGE_PROGRESS.md
  src-tauri/src/lib.rs
  src-tauri/src/video_server/mod.rs
  src-tauri/src/video_server/server.rs
  src-tauri/src/video_server/tests.rs
  src/features/browser/components/preview/simple-video-test.tsx
  src/features/media/__tests__/hooks/use-video-streaming.test.ts
  src/features/media/__tests__/services/video-streaming-service.test.ts
  src/features/media/hooks/index.ts
  src/features/media/hooks/use-video-streaming.ts
  src/features/media/services/index.ts
  src/features/media/services/video-streaming-service.ts
Due: backend, frontend

test: update frontend test coverage status and remove obsolete tests
  README.md
  src/features/media/__tests__/hooks/use-frame-preview.test.ts
  src/features/media/components/__tests__/cache-settings-modal.test.tsx
  src/features/media/hooks/__tests__/use-media-preview.test.ts
Due: none

chore: update language links in README files to include Italian
  README.ar.md
  README.de.md
  README.es.md
  README.fa.md
  README.fr.md
  README.it.md
  README.ja.md
  README.ko.md
  README.md
  README.pt.md
  README.ru.md
  README.th.md
  README.tr.md
  README.zh.md
Due: none

feat: add Italian language support to frontend and backend
  src-tauri/src/language_tauri.rs
  src/i18n/__tests__/constants.test.ts
  src/i18n/__tests__/italian-support.test.ts
  src/i18n/constants.ts
  src/i18n/index.ts
  src/i18n/locales/it.json
Due: backend, frontend

docs: update i18n README to include Italian language support
  src/i18n/README.md
Due: frontend

chore: remove max_report_age setting from Codecov configuration
  codecov.yml
Due: none

fix: remove invalid max_report_age field from codecov.yml
  codecov.yml
Due: none

fix: properly configure max_report_age to disable time limit
  codecov.yml
Due: none

fix: disable improperly configured bundle analysis in Codecov
  .github/workflows/bundle-analysis.yml
  codecov.yml
  src/features/user-settings/__tests__/components/user-settings-modal.test.tsx
  src/features/user-settings/__tests__/services/user-settings-machine.test.ts
  src/features/user-settings/__tests__/services/user-settings-provider.test.tsx
Due: none

test: refactor player screenshots path clear button test for better clarity
  src/features/user-settings/__tests__/components/user-settings-modal.test.tsx
Due: none

fix: update translation file key count and remove Italian language support tests
  src/i18n/README.md
  src/i18n/__tests__/italian-support.test.ts
Due: frontend

Add extended tests for video compiler pipeline
  README.md
  src-tauri/src/video_compiler/pipeline.rs
  src-tauri/src/video_compiler/pipeline_edge_cases.rs
  src-tauri/src/video_compiler/pipeline_extended_tests.rs
Due: backend

fix: simplify subtitle style and custom settings initialization in extended tests
  src-tauri/src/video_compiler/pipeline_extended_tests.rs
Due: backend

fix: remove ignored test for video info logic due to variability in preview module behavior
  src-tauri/src/video_compiler/commands_logic.rs
Due: backend

mod readme
  README.md
Due: none

excluded readme lang from list
  README.ar.md
  README.de.md
  README.es.md
  README.fa.md
  README.fr.md
  README.it.md
  README.ja.md
  README.ko.md
  README.pt.md
  README.ru.md
  README.th.md
  README.tr.md
  README.zh.md
Due: none

fix: reorder language links in README for better accessibility
  README.md
Due: none

rm unused docs
  src-tauri/KNOWN_ISSUES.md
  src-tauri/PREVIEW_CLEANUP.md
Due: none

fix: remove outdated Russian migration documentation
  docs-ru/MIGRATION.md
Due: none

feat: update Tauri mock provider and improve configuration files
  codecov.yml
  index.html
  src/features/media-studio/__tests__/services/providers.test.tsx
  src/features/media-studio/services/providers.tsx
  src/features/media-studio/services/tauri-mock-provider.tsx
  src/hooks/use-batch-preview.ts
  src/hooks/use-local-storage.ts
  tsconfig.json
  vite.config.ts
  vitest.config.ts
Due: frontend
