Repository thucvu97/timeline-studio: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: Clamp quality values in NVENC, QuickSync, VAAPI, and VideoToolbox quality conversion functions
  src-tauri/src/video_compiler/gpu.rs
Due: backend

fix: Clamp quality values in GPU quality conversion functions to prevent out-of-bounds errors
  src-tauri/src/video_compiler/gpu.rs
Due: backend

Implement code changes to enhance functionality and improve performance
  src-tauri/src/video_compiler/commands/tests.rs
Due: backend

docs: Update test coverage status in README
  README.md
Due: none

Add comprehensive tests for video compiler and transition components
  src-tauri/COVERAGE_IMPROVEMENT_PLAN.md
  src-tauri/build_rs_cov.profraw
  src-tauri/coverage/cobertura.xml
  src-tauri/coverage/lcov.info
  src-tauri/coverage/tarpaulin-report.html
  src-tauri/src/video_compiler/commands/tests.rs
  src/features/transitions/__tests__/components/transition-list.test.tsx
  src/features/transitions/__tests__/components/transition-preview.test.tsx
Due: backend

Remove unused build_rs_cov.profraw file to clean up the repository
  src-tauri/build_rs_cov.profraw
Due: none

test: Enhance render job lifecycle tests with job tracking and renderer integration
  src-tauri/src/video_compiler/commands/tests.rs
Due: backend

docs: Update test coverage status in README files
  README.md
  README.ru.md
Due: none

Update badge styles in README files to 'for-the-badge' for improved visibility
  README.ar.md
  README.de.md
  README.es.md
  README.fa.md
  README.fr.md
  README.ja.md
  README.ko.md
  README.md
  README.pt.md
  README.ru.md
  README.th.md
  README.tr.md
  README.zh.md
Due: none

fix: Fix compilation errors in video_compiler commands_logic
  src-tauri/COVERAGE_PROGRESS.md
  src-tauri/src/video_compiler/commands/tests.rs
  src-tauri/src/video_compiler/commands_logic.rs
  src-tauri/src/video_compiler/mod.rs
Due: backend

fix: Remove unnecessary comparison warning in test
  README.md
  src-tauri/COVERAGE_PROGRESS.md
  src-tauri/src/video_compiler/commands/tests.rs
Due: backend

test: Improve test coverage from 76.30% to 80%+ for video_compiler/commands
  src-tauri/COVERAGE_PROGRESS.md
  src-tauri/src/video_compiler/commands/tests.rs
  src-tauri/src/video_compiler/commands_logic.rs
Due: backend

docs: Update backend test count in README to reflect recent changes
  README.md
Due: none

fixed codecov config
  codecov.yml
  src-tauri/COVERAGE_PROGRESS.md
Due: none

Refactor and expand tests for effects hooks
  README.md
  src-tauri/COVERAGE_PROGRESS.md
  src-tauri/build_rs_cov.profraw
  src-tauri/src/video_compiler/cache.rs
  src-tauri/src/video_compiler/commands.rs
  src-tauri/src/video_compiler/commands/tests.rs
  src-tauri/src/video_compiler/commands_logic.rs
  src-tauri/target-tarpaulin/.rustc_info.json
  src/features/effects/__tests__/hooks/use-effects-import.test.ts
  src/features/effects/__tests__/hooks/use-effects.test.ts
Due: backend

test: Add comprehensive tests for user effects and timeline preview strip components
  src-tauri/COVERAGE_PROGRESS.md
  src-tauri/build_rs_cov.profraw
  src/features/effects/__tests__/utils/user-effects.test.ts
  src/features/timeline/__tests__/components/timeline-preview-strip.test.tsx
Due: none

docs: Update frontend test count in README to reflect recent changes
  README.md
Due: none

Add unit tests for useVideoElement hook
  e2e/tests/README.md
  e2e/tests/caching-workflow.spec.ts
  e2e/tests/gpu-acceleration.spec.ts
  e2e/tests/video-compilation-workflow.spec.ts
  package.json
  src-tauri/COVERAGE_PROGRESS.md
  src/features/browser/__tests__/components/media-toolbar.test.tsx
  src/features/media/__tests__/utils/video-tracks.test.ts
  src/features/video-player/__tests__/hooks/use-video-element.test.ts
Due: none

test: Update video track processing tests to reflect algorithm changes
  src/features/media/__tests__/utils/video-tracks.test.ts
Due: none

test: Increase wait time for timestamp differentiation in prepareEffectForExport tests
  src/features/effects/__tests__/utils/user-effects.test.ts
Due: none

docs: Update test coverage numbers in README to reflect recent test results
  README.md
Due: none

test: Add unit tests for ExportModal component
  e2e/tests/gpu-acceleration.spec.ts
  src/features/export/__tests__/export-modal.test.tsx
Due: none

test: Add unit tests for ResourcesPanel component
  README.md
  src/features/resources/__tests__/components/resources-panel.test.tsx
Due: none

refactor: Update export components structure and fix test coverage in README
  README.md
  src/features/export/__tests__/components/social-export-tab.test.tsx
  src/features/export/__tests__/export-modal.test.tsx
  src/features/export/components/device-export-tab.tsx
  src/features/export/components/export-modal.tsx
  src/features/export/components/social-export-tab.tsx
  src/features/export/index.ts
Due: frontend

docs: Fix formatting in test coverage section of README
  README.md
Due: none

Add comprehensive tests for ExportPresets component and related functionalities
  src/features/export/DEV.md
  src/features/export/README.md
  src/features/export/__tests__/components/export-presets.test.tsx
  src/features/export/__tests__/export-modal.test.tsx
  src/features/export/__tests__/hooks/use-social-export.test.ts
  src/features/export/__tests__/utils/preset-configs.test.ts
  src/features/export/hooks/use-social-export.ts
  src/features/export/index.ts
Due: frontend

test: Enhance FFmpegBuilder tests and improve effect parameter handling
  src-tauri/COVERAGE_PROGRESS.md
  src-tauri/src/video_compiler/ffmpeg_builder.rs
  src-tauri/src/video_compiler/schema.rs
Due: backend

docs: Add GitHub activity and issue tracking badges to README
  README.md
Due: none

feat: Add Social Export Tab for video sharing on social networks
  src-tauri/src/video_compiler/ffmpeg_builder.rs
  src-tauri/src/video_compiler/schema.rs
  src/features/export/DEV.md
  src/features/export/README.md
  src/features/export/__tests__/components/batch-export-tab.test.tsx
  src/features/export/__tests__/components/detailed-export-interface.test.tsx
  src/features/export/__tests__/components/local-export-tab.test.tsx
  src/features/export/__tests__/components/social-export-tab.test.tsx
  src/features/export/__tests__/constants/export-constants.test.ts
  src/features/export/__tests__/export-modal.test.tsx
  src/features/export/__tests__/hooks/use-render-queue.test.ts
  src/features/export/components/batch-export-tab.tsx
  src/features/export/components/detailed-export-interface.tsx
  src/features/export/components/export-modal.tsx
  src/features/export/components/local-export-tab.tsx
  src/features/export/components/social-export-tab.tsx
  src/features/export/constants/export-constants.ts
  src/features/export/hooks/use-render-queue.ts
  src/features/export/hooks/use-social-export.ts
  src/features/export/index.ts
  src/features/export/types/export-types.ts
  src/features/timeline/__tests__/components/timeline.test.tsx
  src/i18n/locales/en.json
  src/i18n/locales/ru.json
Due: backend, frontend

feat: Remove outdated developer documentation for the export module
  docs-ru/08-roadmap/completed/export-module-completion.md
  e2e/tests/export-advanced-features.spec.ts
  e2e/tests/video-export.spec.ts
  src/features/export/DEV.md
  src/features/export/README.md
  src/features/export/__tests__/export-modal.test.tsx
  src/features/export/components/export-modal.tsx
  src/features/export/components/section-export-tab.tsx
  src/i18n/locales/en.json
  src/i18n/locales/ru.json
Due: frontend

Refactor tests and improve localization for project settings and media capture features
  src/features/ai-chat/components/ai-chat.tsx
  src/features/ai-chat/hooks/use-chat-actions.tsx
  src/features/ai-chat/hooks/use-chat-state.ts
  src/features/ai-chat/hooks/use_chat_state.tsx
  src/features/ai-chat/services/chat-provider.tsx
  src/features/app-state/__tests__/hooks/use-app-settings.test.ts
  src/features/app-state/__tests__/providers/temp-project-integration.test.tsx
  src/features/app-state/__tests__/services/store-service.test.ts
  src/features/app-state/components/missing-files-dialog.tsx
  src/features/app-state/services/app-settings-provider.tsx
  src/features/app-state/services/store-service.ts
  src/features/browser/__tests__/components/media-toolbar.test.tsx
  src/features/effects/__tests__/hooks/use-effects-import.test.ts
  src/features/effects/__tests__/hooks/use-effects.test.ts
  src/features/effects/__tests__/utils/user-effects.test.ts
  src/features/export/__tests__/components/batch-export-tab.test.tsx
  src/features/export/__tests__/components/detailed-export-interface.test.tsx
  src/features/export/__tests__/components/export-presets.test.tsx
  src/features/export/__tests__/components/social-export-tab.test.tsx
  src/features/export/__tests__/export-modal.test.tsx
  src/features/export/__tests__/hooks/use-render-queue.test.ts
  src/features/export/__tests__/utils/preset-configs.test.ts
  src/features/export/components/batch-export-tab.tsx
  src/features/export/components/detailed-export-interface.tsx
  src/features/export/components/export-modal.tsx
  src/features/export/components/section-export-tab.tsx
  src/features/export/components/social-export-tab.tsx
  src/features/export/constants/export-constants.ts
  src/features/export/hooks/use-render-queue.ts
  src/features/export/hooks/use-social-export.ts
  src/features/export/index.ts
  src/features/media/__tests__/utils/video-tracks.test.ts
  src/features/resources/__tests__/components/resources-panel.test.tsx
  src/features/timeline/__tests__/components/timeline-preview-strip.test.tsx
  src/features/transitions/__tests__/components/transition-list.test.tsx
  src/features/transitions/__tests__/components/transition-preview.test.tsx
  src/features/video-player/__tests__/hooks/use-video-element.test.ts
  src/i18n/locales/ru.json
Due: frontend

refactor: Reorder imports and improve code structure across multiple files
  src/features/ai-chat/components/ai-chat.tsx
  src/features/ai-chat/hooks/use-chat-actions.tsx
  src/features/ai-chat/hooks/use-chat-state.ts
  src/features/ai-chat/hooks/use_chat_state.tsx
  src/features/ai-chat/services/chat-provider.tsx
  src/features/app-state/__tests__/hooks/use-app-settings.test.ts
  src/features/app-state/__tests__/providers/temp-project-integration.test.tsx
  src/features/app-state/__tests__/services/store-service.test.ts
  src/features/app-state/components/missing-files-dialog.tsx
  src/features/app-state/services/app-settings-provider.tsx
  src/features/app-state/services/store-service.ts
Due: frontend

chore: Remove DeepSource configuration file
  .deepsource.toml
Due: none

feat: update version to 0.21.0 across multiple files and dependencies
  bun.lock
  docs-ru/08-roadmap/README.md
  e2e/fixtures/test-base.ts
  e2e/helpers/test-utils.ts
  package-lock.json
  package.json
  promo/package-lock.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/features/video-player/components/__tests__/prerender-controls.test.tsx
  src/test/mocks/tauri/api/app.ts
  src/test/mocks/tauri/core.ts
Due: none

chore: remove closed issues and E2E tests badges from README.md
  README.md
Due: none

test: update tests for PrerenderControls component and improve cleanup handling
  docs-ru/08-roadmap/README.md
  src/features/video-player/components/__tests__/prerender-controls.test.tsx
Due: none

refactor: reorganize imports and improve test structure in PrerenderControls tests
  docs-ru/08-roadmap/README.md
  src/features/video-player/components/__tests__/prerender-controls.test.tsx
Due: none

chore: remove GitHub last commit badge from README.md
  README.md
Due: none

fix: exclude tauri-mock-provider component from coverage checks
  vitest.config.ts
Due: none

feat: update test coverage configuration and documentation for improved clarity and structure
  .github/workflows/test-coverage.yml
  README.md
  codecov.yml
  docs-ru/09-testing/README.md
  docs-ru/09-testing/codecov-components.md
  docs-ru/README.md
Due: none

Path conditions:
  backend: any of: ^src-tauri/src/.*, but not: (?s:src\-tauri/target/.*/[^\/]*)\Z, (?s:dist/.*/[^\/]*)\Z, (?s:coverage/.*/[^\/]*)\Z, (?s:.*/[^\/]*\.test\.ts)\Z, (?s:.*/[^\/]*\.test\.tsx)\Z, (?s:.*/test\-utils\.tsx)\Z, (?s:.*/mocks/.*/[^\/]*)\Z, (?s:.*/__tests__/.*/[^\/]*)\Z, (?s:.*/__mocks__/.*/[^\/]*)\Z
  frontend: any of: ^src/.*, but not: (?s:src\-tauri/target/.*/[^\/]*)\Z, (?s:dist/.*/[^\/]*)\Z, (?s:coverage/.*/[^\/]*)\Z, (?s:.*/[^\/]*\.test\.ts)\Z, (?s:.*/[^\/]*\.test\.tsx)\Z, (?s:.*/test\-utils\.tsx)\Z, (?s:.*/mocks/.*/[^\/]*)\Z, (?s:.*/__tests__/.*/[^\/]*)\Z, (?s:.*/__mocks__/.*/[^\/]*)\Z
