Repository thucvu97/timeline-studio: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

refactor(tests): streamline media import tests and enhance UI checks
  e2e/tests/load-project-with-media.spec.ts
  e2e/tests/media-import-advanced.spec.ts
  e2e/tests/media-import-demo.spec.ts
Due: none

Update README files and improve test coverage
  README.ar.md
  README.de.md
  README.es.md
  README.fa.md
  README.fr.md
  README.ja.md
  README.ko.md
  README.md
  README.pt.md
  README.th.md
  README.tr.md
  README.zh.md
  docs-ru/CODECOV_SETUP.md
  e2e/FAILING_TESTS_TASK.md
  e2e/tests/load-project-with-media.spec.ts
  e2e/tests/media-import.spec.ts
Due: none

refactor(tests): streamline media import tests and improve readability
  .github/workflows/bundle-analysis.yml
  CODECOV_SETUP.md
  codecov.yml
  docs-ru/CODECOV_SETUP.md
  e2e/tests/media-direct-state.spec.ts
  e2e/tests/media-import-new.spec.ts
  e2e/tests/media-import-real-files.spec.ts
  e2e/tests/media-with-project.spec.ts
  e2e/tests/realistic-app-test.spec.ts
  next.config.ts
  package.json
  vite.config.ts
Due: none

fix(tests): update media import tests and improve overall pass rate
  e2e/FAILING_TESTS_TASK.md
Due: none

fix(tests): update statistics and achievements in E2E test report
  e2e/FAILING_TESTS_TASK.md
Due: none

Update README files to change badge styles from flat-square to for-the-badge for coverage metrics.
  README.ar.md
  README.de.md
  README.es.md
  README.fa.md
  README.fr.md
  README.ja.md
  README.ko.md
  README.md
  README.pt.md
  README.th.md
  README.tr.md
  README.zh.md
  docs-ru/CODECOV_SETUP.md
  e2e/FAILING_TESTS_TASK.md
  e2e/tests/media-import-integration.spec.ts
  src-tauri/src/video_compiler/gpu.rs
Due: backend

Add comprehensive tests for app directories, language handling, and video server functionality
  e2e/FAILING_TESTS_TASK.md
  e2e/tests/effects-browser.spec.ts
  e2e/tests/filters-browser.spec.ts
  e2e/tests/music-browser.spec.ts
  e2e/tests/style-templates-browser.spec.ts
  e2e/tests/subtitles-browser.spec.ts
  e2e/tests/templates-browser.spec.ts
  e2e/tests/transitions-browser.spec.ts
  src-tauri/src/app_dirs.rs
  src-tauri/src/language_tauri.rs
  src-tauri/src/video_compiler/gpu.rs
  src-tauri/src/video_server/mod.rs
  src-tauri/src/video_server/server.rs
  src-tauri/src/video_server/tests.rs
Due: backend

Add E2E tests for application settings, media browser, all tabs navigation, timeline operations, and video export functionality
  e2e/FAILING_TESTS_TASK.md
  e2e/tests/app-settings.spec.ts
  e2e/tests/media-browser.spec.ts
  e2e/tests/test-all-tabs.spec.ts
  e2e/tests/timeline-operations.spec.ts
  e2e/tests/video-export.spec.ts
Due: none

Add tests for recognition events, bounding boxes, and render jobs; improve serialization and metadata handling
  src-tauri/src/media/processor_test.rs
  src-tauri/src/recognition/commands_test.rs
  src-tauri/src/recognition/mod.rs
  src-tauri/src/recognition/tests.rs
  src-tauri/src/recognition/types.rs
  src-tauri/src/video_compiler/commands/tests.rs
Due: backend

feat(eslint): add formatting rules for switch statements and adjust indentation settings
  biome.json
  eslint.config.mjs
Due: none

chore: update ONNX Runtime version to 1.22.0 in coverage workflows and test report
  .github/workflows/coverage.yml
  .github/workflows/test-coverage.yml
  e2e/FINAL_TEST_REPORT.md
Due: none

fix: update ONNX Runtime installation to copy only necessary library files
  .github/workflows/coverage.yml
  .github/workflows/test-coverage.yml
Due: none

test: add comprehensive tests for media folder scanning and video registration
  src-tauri/src/lib.rs
Due: backend

feat: update bundle analysis workflow to include detailed file listing and basic bundle stats generation
  .github/workflows/bundle-analysis.yml
Due: none

chore: remove DeepSource integration files and related entries from .gitignore
  .gitignore
  DEEPSOURCE.md
  test-coverage-report.md
Due: none

test: enhance preview manager tests with additional scenarios and validations
  src-tauri/src/lib.rs
  src-tauri/src/media/preview_manager.rs
Due: backend

feat: enhance documentation with comprehensive development commands and linting guidelines
  README.md
  README.ru.md
  docs-ru/05-development/README.md
  docs-ru/05-development/development-commands.md
  docs-ru/05-development/linting-and-formatting.md
  docs-ru/05-development/package-scripts-reference.md
Due: none

feat: Add CI/CD setup documentation for Timeline Studio on Windows, macOS, and Linux
  CODECOV_SETUP.md
  README.ar.md
  README.de.md
  README.es.md
  README.fa.md
  README.fr.md
  README.ja.md
  README.ko.md
  README.pt.md
  README.tr.md
  README.zh.md
  WINDOWS_BUILD.md
  WINDOWS_CI_FIX.md
  docs-ru/05-development/ci-cd-setup.md
  docs-ru/06-deployment/platforms/windows-build.md
  e2e/E2E_IMPROVEMENTS.md
  e2e/FAILING_TESTS_TASK.md
  e2e/TEST_STATUS_REPORT.md
  e2e/fixtures/test-base.ts
  e2e/helpers/test-utils.ts
  e2e/tests/keyboard-shortcuts.spec.ts
  e2e/tests/media-import-new.spec.ts
  e2e/tests/test-all-tabs.spec.ts
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/test/mocks/tauri/api/app.ts
  src/test/mocks/tauri/core.ts
Due: frontend

feat: update project status and documentation for development commands and CI/CD processes
  README.th.md
Due: none

fix: update Windows setup instructions link in README
  README.md
Due: none

feat: Implement Style Templates completion functionality
  docs-ru/08-roadmap/in-progress/style-templates-completion.md
  e2e/helpers/test-utils.ts
  e2e/tests/test-all-tabs.spec.ts
  src-tauri/src/video_compiler/error_tests.rs
  src-tauri/src/video_compiler/frame_extraction_tests.rs
  src-tauri/src/video_compiler/mod.rs
  src-tauri/src/video_compiler/progress_tests.rs
Due: backend

refactor: Clean up progress tests for improved readability and consistency
  src-tauri/src/video_compiler/progress_tests.rs
Due: backend

feat: Re-add export for style-templates in index file
  public/images/style-templates/bold-title-1.jpg
  public/images/style-templates/bold-title-1.svg
  public/images/style-templates/classic-overlay-1.jpg
  public/images/style-templates/classic-overlay-1.svg
  public/images/style-templates/corporate-lower-third-1.jpg
  public/images/style-templates/corporate-lower-third-1.svg
  public/images/style-templates/minimal-outro-1.jpg
  public/images/style-templates/minimal-outro-1.svg
  public/images/style-templates/modern-intro-1.jpg
  public/images/style-templates/modern-intro-1.svg
  src/features/index.ts
  src/features/style-templates/components/style-template-preview.tsx
  src/features/style-templates/data/style-templates.json
Due: frontend

feat: Add unit tests for Video Compiler commands functionality
  src-tauri/src/video_compiler/commands_tests.rs
  src-tauri/src/video_compiler/mod.rs
Due: backend

fix: Update test coverage numbers in multiple language README files
  README.ar.md
  README.de.md
  README.es.md
  README.fa.md
  README.fr.md
  README.ko.md
  README.md
  README.pt.md
  README.ru.md
  README.th.md
  README.tr.md
  docs-ru/05-development/README.md
Due: none

fix: Update backend test success count in multiple language README files
  README.ja.md
  README.zh.md
  docs-ru/05-development/README.md
Due: none

test: Enhance integration tests for YoloProcessor with mock models and image validation
  src-tauri/src/recognition/tests.rs
Due: backend

docs: Add E2E tests badge and coverage explanation to README files
  README.md
  README.ru.md
  e2e/README.md
Due: none

test: Remove obsolete media import end-to-end tests
  e2e/tests/media-import-new.spec.ts
Due: none

test: Refactor Style Templates Browser tests for improved tab handling and validation
  e2e/tests/style-templates-browser.spec.ts
  src-tauri/src/recognition/tests.rs
Due: backend

chore: Update Codecov configuration for improved coverage reporting and ignore patterns
  codecov.yml
Due: none

docs: Update test statistics in README for accuracy
  README.md
Due: none

feat: Add js-yaml dependency to package.json and lock files
  bun.lock
  codecov.yml
  package-lock.json
  package.json
Due: none

fix: Correct require_changes configuration in Codecov settings
  codecov.yml
Due: none

Enhance test coverage and improve serialization for recognition and thumbnail processing
  README.md
  src-tauri/src/media/preview_data.rs
  src-tauri/src/media/thumbnail.rs
  src-tauri/src/recognition/recognition_service.rs
  src-tauri/src/recognition/yolo_processor.rs
Due: backend

test: Add edge case tests for GPU info parsing and encoder detection
  README.md
  src-tauri/src/video_compiler/gpu.rs
Due: backend

feat: Add comprehensive tests for media sorting, filtering, and searching functionality
  e2e/tests/media-sort-filter.spec.ts
Due: none

feat: Add additional tests for media sorting and filtering functionality
  e2e/FAILING_TESTS_TASK.md
Due: none

refactor: Clean up whitespace in GPU detection tests for better readability
  src-tauri/src/video_compiler/gpu.rs
Due: backend

Path conditions:
  frontend: any of: src/
  backend: any of: src-tauri/src/
